<div class="flat_area grid_16">
        <h2>Beautifully formatted text content</h2>
        <p><strong>Adminica</strong> will make your text and <strong>typography content look great</strong>. All the usual elements from headers to ordered list items have been thoroughly styled. You can put your text right on the main page or in a box. You can create easy to read columns using the <a href="http://www.960.gs/" target="_blank">960.gs Grid System</a></p>
</div>